# Auto detect text files and normalize their line endings
* text=auto

# Explicitly declare text files you want to always be normalized and converted
*.c text
*.h text
*.cpp text
*.hpp text
*.txt text
*.md text
*.html text
*.css text
*.js text

# Declare binary files that should be left untouched
*.svg binary
*.jpg binary
*.png binary
*.gif binary
*.ico binary
